HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Python ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
.env
.venv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
**/.dccache

### My Stuff ###
vvd-downloader-old/logs
vvd-taskproducer/20xx年V家新曲/
vvd-downloader/2021年V家新曲-test-download/
vvd-downloader/manual-test-config.yml
vvd-extractor/20xx年V家新曲-extracted-test/

### My Exe ###
**/aria2c.exe
**/ffmpeg.exe
**/MediaInfo.exe
**/yt-dlp.exe