HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### My Stuff ###
vvd-downloader-old/logs
vvd-taskproducer/20xx年V家新曲/
vvd-downloader/2021年V家新曲-test-download/
vvd-downloader/manual-test-config.yml

### My Exe ###
vvd-downloader/aria2c.exe
vvd-downloader/ffmpeg.exe
vvd-downloader/MediaInfo.exe
vvd-downloader/yt-dlp.exe